@import url('https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');
 /* font-family: "Winky Rough", sans-serif; */

 body{
     font-family: "Winky Rough", sans-serif;
     display: flex;
     justify-content: center;
     align-items: center;
 }
.change-btn {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 15px;
    margin: 0 auto;
    background-color: #000;
    transition: all 0.5s ease-in-out;
    position: fixed;
    bottom: 40px;
    right: 0;
    border-radius: 25px 0px 0px 25px;
}

.change-btn:hover {
    color: #000;
    background-color: #fff;
}

/*-------------------------------->*/

.text-change {
    background-color: #fff;
    text-align: center;
    border: 2px solid #000;
    border-radius: 10px;
    width: 30%;
    padding: 25px;
    margin: 0 auto;

}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form input {
    margin: 10px 0;
    outline: none;
    border: 2px solid #000;
    border-radius: 5px;

}

.box {
    width: 300px;
    height: 50px;
    font-size: 1.2rem;
    padding: 0 10px;
    
}
.button{
    font-size: 1rem;
    padding: 10px 15px;
    background-color: LightSalmon;
    color: #fff;
    cursor: pointer;
    
}
.feedback {
    background-color: LightSeaGreen;
    font-size: 1.5rem;
    padding: 10px;
    display: none;
}

.massegeContent {
    color: HotPink;
    font-size: 32px;
    font-weight: 600;
    padding: 20px 0px;
}










* {
  box-sizing: border-box;
  margin: 0;
}

.calculator {
  background-color: #f2f2f2;
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
  border: solid 1px #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  margin-top: 40px;
}

#result{
    width: 100%;
    padding: 10px;
    font-size: 24px;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3) inset;
    border-radius: 5px;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin-top: 20px;
}

button{
    padding: 10px;
    font-size: 24px;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

button:hover{
    background-color: #ddd;
}

.clear{
    background-color: #ff4136;
    color: #fff;
}

.number, .decimal{
    background-color: #fff;
    color: #333;

}

.operator{
    background-color: #0074d9;
    color: #fff;
}

.equals{
    background-color: #01ff70;
    grid-row: span 3;
    color: #fff;
}