* {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
}

  body {
      font-family: Arial, sans-serif;
      background: #020024;
	  background: linear-gradient(135deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    .app {
      background: #fff;
      padding: 20px;
      width: 500px;
      border-radius: 10px;
      box-shadow: 0 2px 10px rgba(0,0,0,0.2);
      text-align: center;
    }
    h1 {
      font-size: 22px;
      margin-bottom: 20px;
    }
    #question {
      font-size: 18px;
      margin-bottom: 15px;
    }
    #answersButton .btn {
      display: block;
      width: 100%;
      margin: 5px 0;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 5px;
      cursor: pointer;
      background: #f9f9f9;
      transition: 0.3s;
    }
    #answersButton .btn:hover {
      background: #eee;
    }
    .correct {
      background: #9aeabc !important;
    }
    .incorrect {
      background: #ff9393 !important;
    }
    #nextBtn {
      margin-top: 15px;
      padding: 10px 20px;
      background: #007bff;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      display: none;
    }

